* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAV-BAR  */

.cl-white a,
.cl-white li {
    color: white;
    font-weight: bold;
}

.cl-white a:hover,
.cl-white a:focus {
    color: white;
}



.border {
    outline: 1px solid black;
}

.bg-green {
    background-color: #00bd9d;
}

footer {
    background-color: #37536c;
}

.bg-gray {
    background-color: #2a3d4f;
}