* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILIYT */

.cl-white {
    color: white;
}

.bg-white {
    background-color: white;
}

.cl-gray {
    color: #2a3d4f;
}

.bg-gray {
    background-color: #2a3d4f;
}

/* STAR */

.bar-star {
    width: 7rem;
    height: .3rem;
    border-radius: 20px;
}

/* NAV-BAR  */

.cl-white a,
.cl-white li {
    color: white;
    font-weight: bold;
}

.cl-white a:hover,
.cl-white a:focus {
    color: white;
}

.border-none,
.border-none:focus {
    border: none;
    box-shadow: none;
}

/* JUMBOTRON */

#star h2 {
    font-size: 2.3rem;
}

#star li {
    margin: 0 .5rem;
    list-style-type: none;
    font-size: 1.2rem;
}

.border {
    outline: 1px solid black;
}

.bg-green {
    background-color: #00bd9d;
}

footer {
    background-color: #37536c;
}